<div [*ngSwitch] ="day">
    <div *ngSwitchCase="0">Today is Sunday! i am enjoying sunshine.</div>
    <div *ngSwitchCase ="1">Today is Monday! i am enjoying sunshine.</div>
    <div *ngSwitchCase ="2">Today is Tuesnday! i am enjoying sunshine.</div>
    <div *ngSwitchCase ="3">Today is Wednesday! I will deployment on AWS today</div>
    <div *ngSwitchCase ="4">Today is Thursday! i am enjoying sunshine.</div>
    <div *ngSwitchCase ="5">Today is Friday! i am enjoying sunshine.</div>
    <div *ngSwitchCase ="6">Today is Satursday! i am enjoying sunshine.</div>
    <div *ngSwitchCaseDefault > Invalid value for day! error!.</div>

</div>